body,div,ul,li,a,table{
	margin:0;
	padding:0;
	
	}
body{
	width:90%;
	margin:0 auto;
	background:none;
	font-family:"微软雅黑";
	}
a{
	text-decoration:none;
	}
#header{
	height:70px;
	width:100%;
	/*background-color:#DFDEFE;*/
	border-radius:1em;
	margin-top:3em;
	}
.topic-one{
	background:#333;
	padding-top:8px;
	padding-bottom:8px;
	width:100%;
	}

.submenu{
	font-size:20px;
	color:white;	
	/*background:#fff;
	border-radius:0.5em;*/
	padding:0.4em 0.8em;
	}
.submenu:hover,.active1{
	background:#5186A8;
	color:white;
	text-decoration:none;
	}
.tableList{
	background:#fff;
	padding: 0.5em 1em;
	}
	
.area{
	width:650px;
	height:300px;
	}
.add-report{
	float:right;
	margin-right: 5px;
	margin-top: 6px;
	}
.download-table,.add-report-table{	
	border-collapse: collapse !important;
	background-color: #ffffff;
	}
.download_model{
	width:100%;
	
	}
#downloadModel{
	float:right;
	
	z-index:5;
	}

.download-table{
	width:100%;
	
	}
.add-report-div{
	z-index:4;
	}
.add-report-table{
	width:95%;
	}
.add-report-div,.usingModel{
	width:60%;
	height:auto;
	padding:10px 10px 10px 10px;
	border:1px solid #ccc;
	border-radius:10px;
	background-color:#fff;
	margin-left:200px;
	position:fixed;
	top:10em;
	}
	
.add-report-table > thead > tr > th,
.add-report-table > tbody > tr > th,
.add-report-table > tfoot > tr > th,
.add-report-table > thead > tr > td,
.add-report-table > tbody > tr > td,
.add-report-table > tfoot > tr > td {
	 padding: 8px;
	 line-height: 1.428571429;
	 vertical-align: center;
	 border-top: 1px solid #dddddd;
}
.download-table > thead > tr > th,
.download-table > tbody > tr > th,
.download-table > tfoot > tr > th,
.download-table > thead > tr > td,
.download-table > tbody > tr > td,
.download-table > tfoot > tr > td {
	 padding: 8px;
	 line-height: 1.428571429;
	 vertical-align: center;
	 border-top: 1px solid #dddddd;
}
.table-hover>tbody>tr:hover>td{
	background-color: #3399FF;
	color: #fff;
	
}
a:hover{
	color:#000;
	}
.table{
	margin-bottom:0;
	}